.gpt3_article {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  background: var(--color-footer);
}

.gpt3_article-image_container {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.gpt3_article-image_container img {
  width: 100%;
  height: 100%;
}

.gpt3_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  height: 100%;
  color: #ffffff;
}

.gpt3_article-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.gpt3_article-content h3 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
}

.gpt3_article-content p:last-child {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .gpt3_article-content h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
