.gpt3_features-container_feature {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  margin: 1rem;
}

.gpt3_features-container_feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.gpt3_features-container_feature-title h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  letter-spacing: -0.04rem;
}

.gpt3_features-container_feature-title p {
  width: 39px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3_features-container-text {
  flex: 2;
  max-width: 590px;
  display: flex;
}

.gpt3_features-container-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

@media screen and (max-width: 500px) {
  .gpt3_features-container-title h1 {
    font-size: 18px;
    line-height: 24px;
  }

  .gpt3_features-container-text p {
    font-size: 10px;
    line-height: 20px;
  }

  .gpt3_features-container-feature {
    margin: 1rem 0;
  }
}
